<footer class="footer">
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-company">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms of Service</a>
    </div>
  </div>
</footer>
