<nav class="navbar">
  <h2 class="nav-icon"><i class="fa-regular fa-compass"></i></h2>
  <div class="navlinks">
    <a href="/" class="navlink">Home</a>
    <a href="/listings" class="navlink">All Listings</a>
    <a href="/listings/new" class="navlink">Create Listing</a>
  </div>
</nav>
