<nav class="navbar">
  <a href="/" class="nav-icon"><i class="fa-regular fa-compass"></i></a>
  <div class="navlinks">
    <a href="/listings" class="navlink">All Listings</a>
    <a href="/listings/new" class="navlink">Create Listing</a>
  </div>
</nav>
