# App
NODE_ENV=development
PORT=8080
ATLASDB_URI=mongodb+srv://username:password@cluster.mongodb.net/wanderlust?retryWrites=true&w=majority
SESSION_SECRET=replace_with_a_long_random_secret

# Cloudinary
CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET=your_cloudinary_api_secret
