<% layout("/layouts/boilerplate.ejs") %>
<body class="form-body">
  <br /><br />
  <form method="POST" action="/listings">
    <h3 class="form-head">Create A New Listing</h3>
    <div class="form-field">
      <label for="title" class="form-label">Title</label>
      <input
        name="listing[title]"
        ,
        placeholder="Enter Title"
        ,
        class="form-control"
      />
    </div>

    <div class="form-field">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        ,
        placeholder="Enter Description"
        ,
        class="form-control"
      ></textarea>
    </div>

    <div class="form-field">
      <label for="image" class="form-label">Image URL</label>
      <input
        name="listing[image]"
        ,
        placeholder="Enter Image URL"
        ,
        class="form-control"
      />
    </div>

    <div class="form-field">
      <label for="price" class="form-label">Price</label>
      <input
        name="listing[price]"
        ,
        placeholder="Enter Price"
        type="number"
        ,
        class="form-control"
      />
    </div>

    <div class="form-field">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        ,
        placeholder="Enter Location"
        ,
        class="form-control"
      />
    </div>

    <div class="form-field">
      <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        ,
        placeholder="Enter Country"
        ,
        class="form-control"
      />
    </div>

    <button class="form-btn">Add</button>
  </form>
  <br /><br />
</body>
