.footer {
  background-color: #ebebeb;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.f-info-socials {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  color: #000;
}

.f-info-socials a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}

.f-info-socials a:hover {
  color: #fe424d;
}

.f-info-company {
  color: #000;
  margin-top: 1rem;
}

.f-info-links {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.f-info-links a {
  color: #000;
  text-decoration: none;
}

.f-info-links a:hover {
  color: #fe424d;
}
