<% layout("/layouts/boilerplate.ejs") %>
<body class="form-body">
  <br /><br /><br /><br /><br /><br />
  <form method="POST" action="/signin">
    <h3 class="form-head">Sign In</h3>

    <div class="form-field">
      <label for="username" class="form-label">Username</label>
      <input
        id="username"
        name="username"
        placeholder="Enter username"
        class="form-control"
        required
      />
    </div>

    <div class="form-field">
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Enter password"
        class="form-control"
        required
      />
    </div>

    <button class="form-btn">Sign In</button>
    <p class="form-switch-text">
      New here?
      <a href="/signup" class="form-switch-link">Create an account</a>
    </p>
  </form>
  <br /><br />
</body>
